@import "tailwindcss";

:root {
  --font-cairo: "Cairo", sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-cairo);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-slate-950 text-slate-100 antialiased;
}
h1,
h2,
h3 {
  font-weight: 700;
  letter-spacing: -0.02em;
}
p {
  font-weight: 300; /* الوزن الخفيف يعطي طابعاً عصرياً */
  line-height: 1.8;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-slate-950;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-800 rounded-full hover:bg-cyan-900 transition;
}
